@charset "utf-8";

/* * {
    padding: 0;
    margin: 0;
} */

html,
body {
    min-height: 100%;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

ul {
    list-style: none;
}

.li-margin {
    margin-block: 20px;
}

.header-1,
.header-3,
.header-4 {
    margin-bottom: 10px;
}

.primary-footer {
    color: #fff;
    background-color: #172F41;
    padding-block: 40px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.primary-footer>div {
    width: 70%;
    margin-inline: auto;
    display: flex;
}

.footer1 {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer2,
.footer3 {
    width: 25%;
}

h4:hover {
    color: rgb(165, 38, 38);
}

li:hover {
    cursor: pointer;
}

.hover-underline-animation {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(165, 38, 38);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}