@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    transition: all 0.3s ease;
}

.navbar {
    padding-block: 1.3em;
    padding-inline: 1rem;
}

html {
    height: 90vh;
}

#navbar-brand {
    font-family: Train One;
}

#footer-brand {
    font-family: Train One;
}

.hero-section {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block: 10rem;
    height: 90vh;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.hero-section__content {
    position: relative;
    z-index: 3;
}