{% extends 'base.html' %}

{% block title %}Admin{% endblock title %}

{%load static%}
{% block style %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'ignore_footer.css' %}">
{% endblock %}

{% block body %}

{% include "messages.html" %}
<div class="hero-section text-white d-flex justify-content-center align-items-center mb-5"
    style="background-image: url('{% static 'car.jpg' %}');position: relative;z-index: 1;background-repeat: no-repeat;background-size: cover;background-position: center;background-repeat: no-repeat;padding-block: 10rem;">
    <div class="hero-section__content text-center">
        <h1 class="mb-3">Salam, {{ request.user.username }}!</h1>
        <h2 class="mb-4">Ulgama hoş geldiňiz. Administratiw gurallar:</h2>
        
        <div class="row gap-3 justify-content-center mb-4">
            <a href="{% url 'about_vehicles' %}" class="fs-5 col-sm btn btn-outline-primary py-2 border-2"
                style="padding: 0 20rem 0 20rem;">Ulaglar</a>
        </div>
        <div class="row gap-3 justify-content-center mb-4">
            <a href="{% url 'about_users' %}" class="fs-5 col-sm btn btn-outline-success py-2 border-2"
                style="padding: 0 20rem 0 20rem;">Ulanyjylar</a>
        </div>
        <div class="row gap-3 justify-content-center mb-4">
            <a href="{% url 'samples' %}" class="fs-5 col-sm btn btn-outline-danger py-2 border-2"
                style="padding: 0 20rem 0 20rem;">Nusgalar</a>
        </div>
    </div>
</div>

<!-- /content -->


{% endblock body %}