{% extends 'base.html' %}

{% block title %}Cars{% endblock title %}

{%load static%}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block body %}

{% include "messages.html" %}

<main role="main" style="background-color: rgb(200, 200, 200)">

    <section class="jumbotron text-center" style="background-color: rgb(200, 200, 200)">
      <div class="container">
        <h1 class="jumbotron-heading" style="font-size:50px">Salam, {{request.user.username}}!</h1>
        <p style="font-size:25px; margin-top:30px">Kärhananyň düzümindäki ulaglaryň hasabaty:</p>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        
        <div class="row">
          {% for car in cars %}
          <div class="col-md-4">
            
            <div class="card mb-4 shadow-sm">
              
              {%load static%}
              <img src = '/media/{{car.image}}'  alt="car" class="d-block w-100" height="225" >
              <div class="card-body">
                
                
                <h4 style="text-align:center" >{{car.car_name}}</h4>
                
                <p class="card-text">{{car.car_desc}}</p>
               
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group" id="8">
                    <a type="button" class="btn btn-sm btn-dark " href="/panel/about_vehicle/{{ car.pk }}">Görmek</a>
                   
                  </div>
                  
                </div>
              </div>
            </div>
            
          </div>
        
          {%endfor%}
        </div>
      </div>  


{% endblock body %}



