{% extends 'base.html' %}

{% block title %}Cars{% endblock title %}

{%load static%}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block body %}

{% include "messages.html" %}

<main role="main" style="background-color: rgb(200, 200, 200)">

    <section class="jumbotron text-center" style="background-color: rgb(200, 200, 200)">
      <div class="container">
        <h1 class="jumbotron-heading" style="font-size:50px">Salam, {{request.user.username}}!</h1>
       <p style="font-size:25px; margin-top:30px">Administratiw gurallar:</p>
        <p>
          
          
        </p>
      </div>
      <div class='row'>
        <div class="col-sm">
          <a href="{% url 'add_vehicle' %}" class='btn btn-success m-2'>Ulag goşmak</a>
          <a href="{% url 'add_user' %}" class='btn btn-primary m-2'>Ulanyjy goşmak</a>
        </div>
      </div>
      <div class='row'>
        <div class="col-sm">
          <a href="{% url 'about_vehicles' %}" class='btn btn-secondary m-2'>Ulaglar barada maglumat</a>
          <a href="{% url 'about_users' %}" class='btn btn-secondary m-2'>Ulanyjylar barada maglumat</a>
        </div>
      </div>
        <p style="font-size:25px; margin-top:30px">Kärhananyň düzümindäki ulaglaryň hasabaty:</p>
    </section>

    <div class="album py-5 bg-light" id="1">
      <div class="container" id="2">
        
        <div class="row" id="3">
          {% for car in cars %}
          <div class="col-md-4">
            
            <div class="card mb-4 shadow-sm">
              
              {%load static%}
              <img src = '/media/{{car.image}}'  alt="car" class="d-block w-100" height="225" >
              <div class="card-body">
                
                
                <h4 style="text-align:center" >{{car.car_name}}</h4>
                
                <p class="card-text">{{car.car_desc}}</p>
               
                <div class="d-flex justify-content-between align-items-center" id="7">
                  <div class="btn-group" id="8">
                    <a type="button" class="btn btn-sm btn-dark " href="\bill" id="rentbtn">RENT</a>
                   
                  </div>
                  
                </div>
              </div>
            </div>
            
          </div>
        
          {%endfor%}
        </div>
      </div>  


{% endblock body %}



