{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
  {% include 'messages.html' %}
</div>


  <div class="container" style="margin-bottom:25px ;margin-top : 25px"><h1 class="my-3 text-center" style=" font-size:50px ; color:rgb(87, 8, 8)" >CarZest</h1>
    <p style="text-align : center; margin-top : 50px; font-size : 25px ; color : rgb(139, 21, 21)">Wide range of cars from mini size car to luxury cars are available for rent. Available in affordable prices so what are you waiting for? Put on your seatbelt and get ready to enjoy the journey with comfort !!</p>
    <p style="text-align : center; margin-top : 50px; font-size : 25px ; color : rgb(139, 21, 21); font-style:italic">“The world is a book and those who do not travel read only one page.” ~ Saint Augustine.</p>
  
  </div>
{% endblock body %}

