{% extends 'base.html' %}
{%load static%}

{% block body %}
<link rel="stylesheet" href="{%static 'style.css'%}">
<link rel="stylesheet" href="{% static 'ignore_footer.css' %}">

<section class="h-100 gradient-form" style="background-color: #eee;">
  {% include 'messages.html' %}
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-8">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  {%load static%}
                  <img src={%static "logo1.webp"%}
                    style="width: 150px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1 train-one">AuKärhanasy</h4>
                </div>

                <form method="post">
                  {%csrf_token%}
                  <p>Hasabyňyza girmegiňizi haýyş edýäris</p>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Ulanyjy ady</label>
                    <input type="text" id="loginusername" name="username" class="form-control"
                      placeholder="Username" required>
                    {% comment %} <label class="form-label" for="form2Example11">Username</label> {% endcomment %}
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Açar sözi</label>
                    <input type="password" id="loginpassword" name = "password" class="form-control" required />
                    {% comment %} <label class="form-label" for="form2Example22">Password</label> {% endcomment %}
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    
                      <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" >Girmek</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2 " {%load static%}
            style="background-image: url({%static "login.jpg"%});  background-repeat: no-repeat; background-size: 90% 100%; background-position: 100%;">
              <div class="text-black px-3 py-4 p-md-5">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}