{% extends "base.html" %}
{% block body %}
<div class="container mt-4">
    <div class="row m-2 justify-content-center">
      <main style="padding-block: 5rem;">
        <div class="container p-5 bg-white rounded-lg">
          <h1 class="h2 fw-bold mb-4 text-center">ULANYJYLAR BARADA MAGLUMAT</h1>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">T/B</th>
                  <th scope="col">Ady</th>
                  <th scope="col">Familiýasy</th>
                  <th scope="col">Atasynyň ady</th>
                  <th scope="col">Ulanyjy ady</th>
                  <th scope="col">E-Mail</th>
                  <th scope="col">Telefon nomeri</th>
                  <th scope="col">Pasport seriýasy</th>
                  <th scope="col">Ulanýan ulagy</th>
                  <th scope="col">Resminamasy</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <th scope="row">{{ user.pk }}</th>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.last_name }}</td>
                  <td>{{ user.father_name }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone_number }}</td>
                  <td>{{ user.passport_serie }}</td>
                  <td>{{ user.vehicles }}</td>
                  <td><button class="btn btn-primary ml-2" id="view-btn"><i class="bi bi-eye"></i></button><button class="btn btn-danger ml-2" id="download-btn"><i class="bi bi-download"></i></button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
</div>
<script>
  var download_btn = document.getElementById('download-btn');
  download_btn.onclick = function() {
    a = document.createElement("a");
    a.href = "/media/{{ user.documents }}";
    a.setAttribute("download", "");
    a.style = "display: none;";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  }
  var view_btn = document.getElementById('view-btn');
  view_btn.onclick = function() {
    a = document.createElement("a");
    a.href = "/panel/about_users/{{ user.pk }}/";
    a.style = "display: none;";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  }
</script>
{% endblock %}