{% extends "base.html" %}
{% block body %}
<div class="container mt-4">
    <div class="row m-2 justify-content-center">
      <main style="padding-block: 5rem;">
        <div class="container p-5 bg-white rounded-lg">
          <h1 class="h2 fw-bold mb-4 text-center">ULAGLAR BARADA MAGLUMAT</h1>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Ulag ID</th>
                  <th scope="col">Ady</th>
                  <th scope="col">Ulanyjylar</th>
                  <th scope="col">Görnüşi</th>
                  <th scope="col">Reňki</th>
                  <th scope="col">Ýyly</th>
                  <th scope="col">Nomeri</th>
                  <th scope="col">Maglumatlar</th>
                </tr>
              </thead>
              <tbody>
                {% for car in cars %}
                <tr>
                  <th scope="row">{{ car.pk }}</th>
                  <td>{{ car.name }}</td>
                  <td>{{ car.users }}</td>
                  <td>{{ car.type }}</td>
                  <td>{{ car.color }}</td>
                  <td>{{ car.year }}</td>
                  <td>{{ car.number }}</td>
                  <td><button onclick="redirect_to_view('about_vehicles/pdf/{{ car.pk }}/')" class="btn btn-primary ml-2" id="view-btn"><i class="bi bi-eye"></i></button><button onclick="redirect_to_download('/media/{{ car.documents }}')" class="btn btn-danger ml-2" id="download-btn"><i class="bi bi-download"></i></button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
</div>
<script>
  function redirect_to_download(url) {
    a = document.createElement("a");
    a.href = url;
    a.setAttribute("download", "");
    a.style = "display: none;";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  }

  function redirect_to_view(url) {
    a = document.createElement("a");
    a.href = url;
    a.style = "display: none;"
    document.body.appendChild(a);
    a.click()
    document.body.removeChild(a);
  }
</script>
{% endblock %}